<!DOCTYPE html>
<html>

<head>
    <!-- Use the 'title' property to render a page title  -->
    <title></title>
    <div class="page-header">
        <h1>Course Evaluation</h1>
    </div>
    <link rel="stylesheet" type="text/css" href="css/nodestyle.css" />
    <img src="img/loginbg.jpg" alt="Nodejs">
</head>

<body>

    <div class="container">
        <table class="center">

            <tr>
                <td>
                    <h2> Authentication </h2>
                </td>
            </tr>
            <tr>
                <td class="center"><a href="/signup">Sign Up</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/signin">Sign In</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/allStudents">Display all Students</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/comments">Comment</a></td>
            </tr>
            <tr>
                <td class="center"><a href="/commentsByStudent">Display Comments by Student</a></td>
            </tr>

        </table>
    </div>

    <br>

</body>

</html>